body {
  background: #35247b;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}

header {
  background-color: #1a1a1a;
  border-radius: 20px;
  padding-bottom: 10px;
  display: flex;
  height: px;
  background-image: url("../images/grupo-de-jóvenes-empresarios-su-trabajo.jpg");
  background-size: 400px 240px;
  background-position-x: right;
  background-repeat: no-repeat;
  height: 210px;
}

.logo {
  height: 417px;
}

.header ul {
  display: flex;
  padding: 10px 20px;
}

.header li {
  margin: 20px 20px;
}

/* .hero {
  background-image: url("../images/Fondo_Pro_PCs.PNG");
  background-size: 1158px 686px;
  height: 686px;
  background-repeat: no-repeat;
  background-position-x: right;
} */

/* .page_web {
  background-image: url("../images/grupo-de-jóvenes-empresarios-su-trabajo.jpg");
  background-size: 1280px 867px;
  background-repeat: no-repeat;
  background-position-x: right;
} */

.hero_image {
  border-radius: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fjalla One", sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: -0.2px;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
}

.header ul strong {
  color: white;
}

h1,
h2 {
  margin-left: 10px;
}

h1 strong {
  color: #026fff;
}

.ancla,
.page_web_ancla,
.bot_ancla,
.whatsapp_ancla,
.project_ancla,
.project_bot_ancla,
.project_wap_ancla {
  text-decoration: none;
  color: pink;
}

.page_webContainer,
.page_web_imgContainer,
.whatsapp_Content {
  width: 500px;
}

.bot_Content {
  width: 500px;
  height: 248;
}

/* Bordes */

figure {
  margin: 0;
}

.pagina {
  border: 1px solid gray;
  border-radius: 45px;
}

.project_wap,
.project_bot,
.projectContainer {
  /* border: 1px solid #ca11b6;
  border-radius: 10px; */
  margin-bottom: 15px;
  padding-left: 10px;
  padding-bottom: 10px;
  display: flex;
}

.project_Container,
.project_botContainer,
.project_wapContainer {
  width: 300px;
}

.images_bots1,
.images_bots2 {
  margin: 10px;
}

.images_bots1_Image,
.images_bots2_Image {
  border-radius: 35px;
}

.nevis_page_img,
.page_web_imgContainer {
  margin-top: 15px;
  border-radius: 35px;
}

.page_web,
.bot,
.whatsApp {
  border: 1px solid #3d1ba2;
  border-radius: 15px;
  margin-bottom: 15px;
  padding-left: 10px;
  padding-bottom: 10px;
  display: flex;
}

/* Iconos diseñados por <a href="https://www.flaticon.es/autores/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon"> www.flaticon.es</a> */

.contacto {
  background-color: #056fff;
  color: white;
  height: 150;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  margin: 0 10px;
}
.social-link.twitter {
  background-image: url("../images/twitter.svg");
}
.social-link.facebook {
  background-image: url("../images/facebook.svg");
}
.social-link.whatsapp {
  background-image: url("../images/whatsapp.svg");
}
.social-link.instagram {
  background-image: url("../images/instagram.svg");
}

.footer {
  color: rgb(194, 41, 135);
  background-color: rgb(175, 214, 108);
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer img {
  vertical-align: middle;
  margin-left: 320px;
}

.footer p {
  padding: 15px;
}

/* Flexbox */
